<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="images/favicon.png" type="image/png">

  <title>登录-美动时刻管理端</title>

  <link href="src/css/style.default.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">





<section>
  
    <div id="login" class="signinpanel">
        
        <div class="row">
            
            <div class="col-md-12">
                
                <form method="post" action="login">
                    <h4 class="nomargin">用户登录</h4>
                    <p class="mt5 mb20"></p>
                
                    <input id="userName" type="text" class="form-control uname" placeholder="用户名" />
                    <input id="pwd" type="password" class="form-control pword" placeholder="密码" />
                    <a id="btnSubmit" class="btn btn-success btn-block" href="javascript:;">登录</a>
                    <p id="loginErr" class="login-err"></p>
                </form>
            </div><!-- col-sm-5 -->
            
        </div><!-- row -->
        
        <div class="signup-footer">
            <div class="pull-left">
                Copyright © 2015 mdtime.cn. 
            </div>
            <div class="pull-right">
                
            </div>
        </div>
        
    </div><!-- signin -->
  
</section>
<script data-main="src/js/login.js" src="src/js/lib/require.js"></script>
<script>
requirejs.config({
    baseUrl: 'src/js',
    paths: {
      "jquery": "lib/jquery-1.11.1.min"
    }
});
</script>
</body>
</html>
